# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.claude/autoharness/session-af5900bd-5e3a-4b96-ad8c-13597cc9c14a
.claude/autoharness/session-088b27d5-e609-4aff-85df-f1f84d90b204
.claude/autoharness/session-af5900bd-5e3a-4b96-ad8c-13597cc9c14a
.claude/autoharness/requests
